.client-requests-container {
    max-width: 600px;
    margin: 0 auto;
    
  }
  
  .request-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field input,
  .input-field textarea,
  .input-field select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }

  #request-message{
    width:537px;
  }
  

  /* Media query for mobile view */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .client-requests-container {
    max-width: 90%; /* Decrease max-width */
    margin-top: 20px; /* Add top margin */
  }

  .request-form {
    padding: 15px; /* Decrease padding */
  }
  
  .input-field {
    margin-bottom: 15px; /* Decrease bottom margin */
    max-width: 100%;
  }

  .buttons button {
    padding: 8px 15px; /* Decrease padding for buttons */
    font-size: 14px; /* Decrease font size for buttons */
  }
}