/* Inbox.css */

/* General styles */
.inbox-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inbox-heading {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

/* Style for scrollbar */
.inbox-container::-webkit-scrollbar {
  width: 8px;
}

.inbox-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.inbox-container::-webkit-scrollbar-thumb {
  background: #888;
}

.inbox-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Message styles */
.message {
  width: 50rem;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  margin-left:0;
  background-color: white;
  color: black;
  box-shadow: 10px 16px 32px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  transition: box-shadow 0.3s, transform 0.3s;
}

.message:hover {
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  transform: translateY(-5px);
  background-color: #e0f5ff;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 10px;
}

.message-timestamp {
  font-size: 12px;
}

.message-details {
  margin-bottom: 5px;
}


/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

h3 {
  margin-top: 0;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal-buttons {
  margin-top: 20px;
  text-align: center;
}

.modal-buttons button {
  margin-right: 10px;
}

.modal-buttons button:last-child {
  margin-right: 0;
}

.file-links a {
  text-decoration: none; /* Remove underline */
  color: blue; 
}
/* Styles for reqMsg */
.req-message {
  background-color: #F0F8FF; /* Mint cream */
}

/* Styles for hearingMsg */
.hearing-message {
  background-color: #F0F8FF; /* Alice blue */
}

/* Styles for caseTaken */
.case-taken-message {
  background-color: #d5f5c3; /* Lemon chiffon */
}




/* Media query for mobile view */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .inbox-container {
    margin-top: 10px; /* Decrease top margin */
  }

  .inbox-heading {
    padding: 8px 0; /* Decrease padding */
    font-size: 18px; /* Decrease font size */
  }

  .message {
    max-width: 85%; /* Adjust message width for smaller screens */
  }

  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add space above the message timestamp */
  }
  .message-sender,.message-details{
    margin:5px;
  }

  .message-timestamp {
    align-self: flex-start; /* Align timestamp to start */
    margin-top: 30px; /* Adjust margin */
    margin:5px;
  }
  .file-links a {
    text-decoration: none; /* Remove underline */
    color: blue; 
  }

  .req-message {
    background-color: #F0F8FF; /* Mint cream */
  }
  
  /* Styles for hearingMsg */
  .hearing-message {
    background-color: #F0F8FF; /* Alice blue */
  }
  
  /* Styles for caseTaken */
  .case-taken-message {
    background-color: #d5f5c3; /* Lemon chiffon */
  }
  
  
}