.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loader-logo {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    z-index: 1; /* Ensure the logo is on top of the spinner */
  }
  
  .spinner-container {
    position: relative;
  }
  
  .spinner {
    position: absolute;
    width: 120px; /* Slightly larger than the logo */
    height: 120px; /* Slightly larger than the logo */
    border: 8px solid rgb(255, 195, 10);
    border-left: 8px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    opacity: 1;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader.fade-out .spinner {
    opacity: 0;
    transition: opacity 1s ease-out; /* Fade-out effect */
  }

  .loader.fade-out .loader-logo {
    opacity: 0;
    transition: opacity 1s ease-out; /* Fade-out effect */
  }