.my-cases-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .case-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .case-details {
    margin-bottom: 10px;
  }
  
  .case-actions {
    margin-top: 10px;
  }
  
  .case-actions button {
    margin-right: 10px;
  }
  

  /* Media query for mobile view */
@media screen and (max-width: 768px) {
  .my-cases-container {
    padding: 15px; /* Decrease padding for smaller screens */
  }

  .case-item {
    padding: 15px; /* Decrease padding for case items on smaller screens */
  }

  .case-actions {
    margin-top: 5px; /* Decrease margin-top for case actions on smaller screens */
  }

  .case-actions button {
    margin-right: 5px; /* Decrease margin-right for case action buttons on smaller screens */
  }
  .input-field{
    width: 290px;
  }
}