.nav {
  background-color: #1a1a1a;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Adjust alignment */
  align-items: center;
  position: relative; /* Ensure relative positioning */
}

.menuToggle {
  cursor: pointer;
  display: none; /* Initially hide the menu toggle on larger screens */
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px; /* Add margin to separate logo from text */
}

.logoText {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  position: relative;
  top: -3px; /* Adjust vertical alignment */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;

}
ul li {
  margin-left: 20px;
}

ul li:first-child {
  margin-left: 0;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: 'Roboto', Arial, sans-serif;
}

ul li a:hover {
  background-color: #555;
}

.userSection {
  display: flex;
  align-items: center;
}

.userSection span {
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  .menuToggle {
    display: block; /* Display the menu toggle on smaller screens */
    margin-left: auto; /* Move toggle to the right */
  }

  ul {
    flex-direction: column; /* Stack menu items vertically on smaller screens */
    position: absolute;
    top: 60px; /* Adjust the top position */
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10001;
    display: none; /* Initially hide the menu on smaller screens */
  }

  ul.active {
    display: flex; /* Display the menu when active */
  }

  ul li {
    margin: 10px 0;
  }

  ul li:first-child {
    margin-top: 0;
  }

  .logoText {
    font-size: 1.5rem;
    top: -3px; /* Adjust vertical alignment */
    text-decoration: none;
  }
}
