.nav {
  background-color: #1a1a1a; /* Dark background color */
  padding: 15px 20px; /* Add padding to the top and bottom */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  display: flex; /* Change display to flex */
  justify-content: flex-end; /* Align items to the right */
}

ul {
  list-style-type: none; /* Remove bullet points from the list */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Change display to flex */
}

li {
  margin-left: 20px; /* Add margin between list items */
}

li:first-child {
  margin-left: auto; /* Align first list item to the right */
}

a {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove underline from links */
  font-size: 16px; /* Increase font size */
  font-weight: bold; /* Add bold font weight */
  padding: 10px 15px; /* Add padding around links */
  border-radius: 5px; /* Add rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
  font-family: 'Roboto', Arial, sans-serif; /* Change font family */
}

a:hover {
  background-color: #555; /* Darken background color on hover */
}

.userSection {
  display: flex;
  align-items: center;
}

.userSection span {
  margin-right: 10px; /* Add some space between username and logout button */
  color: #fff;
}

