
/* Register.css */
.outer-container-reg {
  position: absolute;
  top: 0;
  left: 0;
  right: 13rem;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.register-container {
  justify-content: center;
  padding: 50px; /* Adjust the padding as needed */
  border: 2px solid;
  border-image: linear-gradient(to right, #ff00ff, #00ffff, #ff00ff);
  border-radius: 10px; /* Adjust the border radius as needed */
  box-shadow: 10px 16px 32px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  background-color: rgba(255, 255, 255, 0.25); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  border: 1px solid rgba(255, 255, 255, 0.7); /* Light border */
  box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  overflow: hidden; /* Clip content to the box */
  z-index: 9999; /* Ensure the container appears above other elements */
  position: fixed; /* Fix the container in position */
  width: 100%;
  max-width: 300px; /* Set maximum width for better readability */
  text-align: center; /* Center text content */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.register-container:hover {
  box-shadow: 0 30px 60px -15px rgba(0, 0, 0, 0.5); /* Enhance shadow on hover */
}



.justiceTitleReg {
  font-family: 'Raleway', sans-serif; /* Apply the same font as before */
  font-size: 3.5rem; /* Adjust the font size as needed */
  font-weight: 700; /* Use bold font weight */
  color: #fff; /* Dark color */
  text-align: center; /* Center align the text */
  margin-bottom: 20px; /* Add some space below */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add letter spacing for better readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect */
  position: absolute;
  top: 47%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.sloganReg {
  font-family: 'Raleway', sans-serif; /* Apply the same font as before */
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: 500; /* Use bold font weight */
  color: #fff; /* Dark color */
  text-align: center; /* Center align the text */
  margin-top: 20px; /* Add some space above */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add letter spacing for better readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect */
  position: absolute;
  top: calc(50% + 3.5rem); /* Position below the title */
  left: 21.2%;
  transform: translate(-50%, -50%);
}

.sloganReg1 {
  font-family: 'Raleway', sans-serif; /* Apply the same font as before */
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: 500; /* Use bold font weight */
  color: #fff; /* Dark color */
  text-align: center; /* Center align the text */
  margin-top: 20px; /* Add some space above */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add letter spacing for better readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect */
  position: absolute;
  top: calc(50% + 3.5rem); /* Position below the title */
  left: 43%;
  transform: translate(-50%, -50%);
}

.img-container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
}

.img {
  width: 120px;
  height: auto;
  position: relative;
  right: 305px;
  top:200px;
}

.form {
  text-align: center;
}

.input-field1,
.input-field2 {
  margin-bottom: 20px;
  width: 300px;
}

.input-field3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-field3 select {
  width: 300px;
  height: 55px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: transparent;
  color: #333;
  outline: none;
}

.password-field {
  position: relative;
  width: 300px; /* Adjust width as needed */
  margin-bottom: 20px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust position as needed */
  transform: translateY(-50%);
  cursor: pointer;
}

.eye-icon {
  max-width: 24px;
  height: auto;
  cursor: pointer;
}

.register-link {
  cursor: pointer;
  color: blue;
}

/* h1 {
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(76, 175, 80, 0.2);
} */
h1 {
  font-size: 2.5rem; /* Adjust the font size as needed */
  font-family: 'Raleway', sans-serif; /* Use Raleway font */
  font-weight: 700; /* Use bold font weight */
  color: #fff; /* Dark color */
  text-align: center; /* Center align the text */
  margin-bottom: 20px; /* Add some space below */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add letter spacing for better readability */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect */
}


.button-container {
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
}

.custom-select {
  width: 300px;
  height: 55px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  color: #666666;
  outline: none;
}

.routeToLogin{
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  .img-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
  }
  
  .img {
    top:145px;
    left: 0px;
    width: 80%; /* Adjust the width to make it responsive */
    max-width:65px; /* Set a maximum width */
    max-height: 65px;
    position: relative;
    margin-top: -110px; /* Move the image 50px up */
  }

  .register-heading {
    font-size: 1.8rem; /* Adjust the font size as needed */
    font-family: 'Raleway', sans-serif; /* Use Raleway font */
    font-weight: 700; /* Use bold font weight */
    color: #333333; /* Dark color */
    text-align: center; /* Center align the text */
    text-transform: uppercase; /* Convert text to uppercase */
    margin: 0px;
    letter-spacing: 2px; /* Add letter spacing for better readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect */
  }
  .routeToLogin{
    margin:0px;
  }
  

  .justiceTitleReg {
    font-size: 2.3rem;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    right: initial;
    white-space: nowrap; /* Ensure the text is displayed on a single line */
  }
  .sloganReg {
    font-size: 0.8rem;
    top: calc(0rem + 0rem - 10px); /* Move it up by 20px */
    left: 50%;
    transform: translateX(-50%);
    right: initial;
    margin-top: 160px; /* Reduce top margin */
    margin-bottom: 4px; /* Reduce bottom margin */
    height: 2rem; /* Set the height for two lines of text */
    line-height: 1rem; /* Adjust line height for two lines of text */
    white-space: nowrap;
  }
  
  .sloganReg1 {
    font-size: 0.8rem;
    top: calc(0rem + 0rem - 35px); /* Adjust top position */
    left: 50%;
    transform: translateX(-50%);
    right: initial;
    margin-top: 200px; /* Reduce top margin */
    margin-bottom: 4px; /* Reduce bottom margin */
    height: 2rem; /* Set the height for two lines of text */
    line-height: 1rem; /* Adjust line height for two lines of text */
    white-space: nowrap; 
  }
  


  .input-field3 select {
    width: 222px;
    height: 55px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: transparent;
    color: #333333;
    outline: none;
  }

  .outer-container-reg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .register-container {
    padding: 20px; /* Adjust padding for smaller screens */
    width: 90%; /* Adjust width for smaller screens */
    max-width: 230px; /* Set maximum width for better readability */
    top: 56%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the container */
  }
  .register-container:hover {
    box-shadow: 0 30px 60px -15px rgba(0, 0, 0, 0.5); /* Enhance shadow on hover */
  }
  
  .input-field1,
  .input-field2,
  .input-field3 {
    width: 100%;
    max-width: 200px; /* Adjust max-width for smaller screens */
    margin-bottom: 8px; /* Decrease margin for smaller screens */
  }
  .password-field{
    width:100%;
    max-width: 222px;
    margin-bottom: 8px;
  }
}
