/* SecretPage.module.css */

.secretPageContainer {
    background-color: #121212; /* Dark background */
    color: #fff; /* White text */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .secretPageContent {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .secretPageTitle {
    font-size: 36px;
    font-weight: bold;
  }
  
  .secretPageDescription {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .secretPageButton {
    background-color: #8b0000; /* Dark red */
    color: #fff; /* White text */
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .secretPageButton:hover {
    background-color: #ff4500; /* Dark orange */
  }

  .hiddenText {
    position: relative;
    color: rgb(18, 18, 18);
  }
  
  

/* Styles for mobile view (up to 600px) */
@media (max-width: 600px) {
    .secretPageContainer {
      height: auto;
      padding: 20px;
    }
    
    .secretPageTitle {
      font-size: 24px;
    }
    
    .secretPageDescription {
      font-size: 16px;
    }
    
    .secretPageButton {
      padding: 8px 16px;
      font-size: 14px;
    }
  }

  /* Common styles */
  .secretPageContainer {
    background-color: #121212; /* Dark background */
    color: #fff; /* White text */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .secretPageContent {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .secretPageTitle {
    font-size: 36px;
    font-weight: bold;
  }
  
  .secretPageDescription {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .secretPageButton {
    background-color: #8b0000; /* Dark red */
    color: #fff; /* White text */
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .secretPageButton:hover {
    background-color: #ff4500; /* Dark orange */
  }
  